@page
@model Vstsdemo.Pages.Base64EncodeModel
@{
    ViewData["Title"] = "Encode a string";
}

<script language="JavaScript">
    $.ajax({
        type: "GET",
        url: "/Home/Base64Encode?handler=List",
        contentType: "application/json",
        dataType: "json",
        success: function (response) {
            var dvItems = $("#dvItems");
            dvItems.empty();
            $.each(response, function (i, item) {
                var $tr = $('<li>').append(item).appendTo(dvItems);
            });
        },
        failure: function (response) {
            alert(response);
        }
    });
</script>

<div class="row">
    <form method="get" action="/home/Base64Encode?handler=List">
        <button class="btn btn-default">Get data</button>
    </form>
</div>

<div id="dvItems" style="font-size:24px;">
</div>

